h1{
    text-align: center;
    background-color: #F2D7D9;
    font-family: "Trebuchet MS",monospace;
    color: #495C83;
}

.recipeindex{
    font-family: "Verdana",monospace;
    font-size: 16px;
    color: #495C83;
}